ul {
  padding-inline-start: 70px;
}
li {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  list-style-type: none;
}
.parent-wrapper {
  border: 1px solid #9e8b8b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

